* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.4fr 2fr;
    position: relative;
}

.sidebar {
    background-color: white;
}

.main-content {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 5fr;
}

.search-bar {
    display: flex;
}

.content-title {
    background-color: rgb(240, 240, 240);
}

.book-section {
    background-color: rgb(240, 240, 240);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    grid-template-rows: repeat(4, 150px);
    grid-auto-rows: 150px;
    gap: 30px;
    

}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.side-title {
    font-weight: 900;
    font-size: 2.3rem;
    margin-left: 30px;
    margin-top: 30px;
}

.subtitle{
    font-weight: 900;
    font-size: 1.2rem;
    margin-left: 30px;
}

.list-items {
    list-style: none;
    line-height: 50px;
}

.list-items li{
    padding-left: 30px;
    transition: background-color 0.3s ease; 
    transition: font-weight 0.1s ease;
}


.list-items li:hover,
li.active{
    background-color: rgb(211, 188, 211);
    color: rgb(67, 0, 129);
    font-weight: 600;
}

.profile {
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: auto;
    justify-content: space-around;
}

.icon{
    height: 60px;
    border-radius: 50%;
}

.icon1 {
    height: 20px;
}

.profile div {
    font-weight: 500;
    color: rgb(89, 88, 88);
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: clamp(300px, 80vw, 800px);;
    min-height: 35px;
    border-radius: 15px;
    margin-left: 20px;
    border: 1px solid rgb(184, 161, 213);
    padding-left: 20px;
    
}

.search input:focus{
    outline: none;
    border: 2px solid rgb(57, 6, 105);
}

.content-title {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.content-title div {
    font-weight: 600;
    font-size: 1.3rem;
}

.content-title button {
    padding: 9px 60px;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: 2px solid black;
    font-weight: 700;
    font-size: 0.9rem;
    transition: ease-in 0.3s;
    transition: border ease-in 0.3s;
}

.content-title button:hover{
    background-color: aliceblue;
    color: black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid blueviolet;
}

.content-title button:active{
    color: blueviolet;
    box-shadow: none;
    border: none;
}

.book{
    padding: 10px 10px;
    overflow: hidden;
    display: flex;
    background-color: white;
    gap: 30px;
    border-radius: 10px;
}

.book-cover{
    height: 127px;
    width: 86px;
    background-image: url(./assets/generic\ book\ cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    border-radius: 10px;
}

.book-meta{
    line-height: 22px;
    font-size: smaller;
    font-weight: 550;
}

.book-status {
    color: rgb(139, 63, 209);
}

.addBook-form{
    position: absolute;
    left: 42%;
    bottom: 35%;
    background-color: rgb(255, 255, 255);
    min-height: 30vh;
    max-width: 500px;
    width: 500px;
    box-shadow: 0px 4px 10px rgba(140, 138, 141, 0.3);
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#book-title,
#author,
#rating,
#status{
    min-height: 3vh;
    border-radius: 8px;
    padding-left: 10px;
    border: 2px solid rgb(199, 199, 199);
}

.form-nav{
    display: flex;
    justify-content: space-between;
}


.form-button{
    flex-basis: 50px;
    font-weight: 900;
    border-radius: 10px;
    border: 2px solid rgb(193, 107, 219);
    background-color: white;
    color: grey;
    transition: 0.3s ease;
}

.form-button:hover{
    color: black;
    text-transform: uppercase;
    border: 2px solid red;
    box-shadow: 0px 4px 10px rgba(140, 138, 141, 0.3);
}

.form-button:active{
    box-shadow: none;
}


.form-button2{
    padding: 10px 5px;
    margin-top: 20px;
    width: 200px;
    align-self: center;
    border-radius: 8px;
    border: 2px solid rgb(193, 107, 219);
    background-color: white;
    transition: 0.3s ease-in-out;
}

.form-button2:hover{
    color: black;
    border: 2px solid rgb(23, 186, 23);
    box-shadow: 0px 4px 10px rgba(140, 138, 141, 0.3);
}

.form-button2:active{
    box-shadow: none;
}



